[submodule "demos/backgroundColorChanger"]
	path = demos/backgroundColorChanger
	url = https://github.com/scusate/backgroundColorChanger.git
[submodule "demos/randomHexColorGenerator"]
	path = demos/randomHexColorGenerator
	url = https://github.com/scusate/randomHexColorGenerator.git
[submodule "demos/hamburgerMenu"]
	path = demos/hamburgerMenu
	url = https://github.com/scusate/hamburgerMenu.git
[submodule "demos/simpleDarkMode"]
	path = demos/simpleDarkMode
	url = https://github.com/scusate/simpleDarkMode.git
[submodule "demos/sidebar"]
	path = demos/sidebar
	url = https://github.com/scusate/sidebar.git
[submodule "demos/simpleModal"]
	path = demos/simpleModal
	url = https://github.com/scusate/simpleModal.git
[submodule "demos/simpleCounter"]
	path = demos/simpleCounter
	url = https://github.com/scusate/simpleCounter.git
[submodule "demos/stickyNavbar"]
	path = demos/stickyNavbar
	url = https://github.com/scusate/stickyNavbar.git
[submodule "demos/simpleStopwatch"]
	path = demos/simpleStopwatch
	url = https://github.com/scusate/simpleStopwatch.git
[submodule "demos/imageCarousel"]
	path = demos/imageCarousel
	url = https://github.com/scusate/imageCarousel.git
[submodule "demos/backgroundSlider"]
	path = demos/backgroundSlider
	url = https://github.com/scusate/backgroundSlider.git
[submodule "demos/themeColorChanger"]
	path = demos/themeColorChanger
	url = https://github.com/scusate/themeColorChanger.git
